@media (max-width: 1240px) {
    .header__title {
        padding-top: 120px;
        font-size: 180px;
        line-height: 220px;
    }
    .header__title span {
        font-size: 50px;
        margin-top: -50px;
    }
    .hotel__gallery {
        display: block;
    }
    .hotel__gallery img {
        width: 200px;
        margin-left: 20px;
        margin-top: 20px
    }
}

@media (max-width: 1220px) {
    .hotel__text {
        margin: 20px 50px 0;
    }
    .hotel__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hotel__gallery {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .hotel__images {
        margin-bottom: 50px;
        width: 50%;
        margin-right: 0;
    }
    .hotel__title {
        text-align: center;
        margin-bottom: 55px;
    }
    .page-section {
        margin: 115px auto;
    }
}

@media (max-width: 1147px) {
    .contacts__inner {
        justify-content: center;
        flex-wrap: wrap;
    }
    .contacts__content {
        margin-bottom: 45px;
        width: 100%;
    }
    .contacts__info {
        margin-bottom: 45px;
    }
    .page-section {
        margin: 65px auto;
    }
    .footer__inner {
        justify-content: center;
        margin: 0 50px;
        flex-wrap: wrap;
    }
    .footer__text {
        margin-top: 43px;
        text-align: center;
    }
}

@media (max-width: 991px) {
    .page-section {
        margin: 100px 0;
    }
    .fairy-tail__container,
    .our-trip__container {
        position: static;
    }
    .fairy-tail__slider {
        width: 100%;
    }
    .fairy-tail__body {
        width: 100%;
        padding-left: 0;
    }
    .our-trip__container {
        display: flex;
        justify-content: center;
    }
    .our-trip__content {
        width: 100%;
        margin-bottom: 30px;
    }
    .our-trip__slider {
        width: 100%;
    }
    .our-trip__slider-item img {
        height: 50vh;
        object-fit: cover;
        width: 100%;
    }
}

@media (max-width: 840px) {
    .header__title {
        padding-top: 100px;
        font-size: 120px;
        line-height: 150px;
    }
    .header__title span {
        font-size: 30px;
        margin-top: -44px;
    }
    .header__top {
        font-size: 20px;
        line-height: 24px;
    }
    .header__phone::before {
        width: 25px;
        height: 25px;
        background-size: cover;
    }
    .price__inner {
        flex-direction: column;
        align-items: center;
    }
    .price__on {
        margin-right: 0;
        width: 493px;
        margin-bottom: 30px;
    }
    .contacts__images {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .header__top {
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu {
        margin: 0 0 25px;
        width: 100%;
        text-align: center;
    }
    .header__title {
        font-size: 80px;
        line-height: 120px;
    }
    .header__title span {
       font-size: 22px;
       margin-top: -46px; 
       margin-right: 15px;
    }
    .fairy-tail__item img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }
    .page-section {
        margin: 50px 0;
    }
    .title {
        margin-bottom: 25px;
        font-size: 60px;
        line-height: 110px;
    }
    .fairy-tail__title span {
        margin-left: 110px;
    }
    .price__title span {
        margin-left: 82px;
    }
    .price__list-item {
        font-size: 15px;
    }
    .price__on {
        width: 337px;
    }
    .contacts__date {
        font-size: 80px;
    }
    .contacts__date span {
        font-size: 20px;
        margin-top: -18px;
        margin-left: 150px;
    }
    .contacts__price {
        font-size: 80px;
    }
    .contacts__price span {
        font-size: 20px;
        margin-top: -18px;
        margin-left: 100px;
    }
    
}

@media (max-width: 500px) {
    .hotel__text {
        font-size: 15px;
    }
    .hotel__gallery img {
        width: 275px;
        margin-top: -7px;
    }
    .hotel__images {
        margin-bottom: 25px;
        width: 75%;
    }
    .our-trip__list {
        font-size: 20px;
    }
    .our-trip__title span {
        margin-left: 156px;
    }
    .our-trip__content {
        padding-right: 0px;
    }
    .contacts__date {
        font-size: 70px;
    }
    .contacts__date span {
        font-size: 18px;
        margin-top: -18px;
        margin-left: 150px;
    }
    .contacts__price {
        font-size: 70px;
    }
    .contacts__price span {
        font-size: 18px;
        margin-top: -18px;
        margin-left: 100px;
    }
    .contacts__form-title {
        font-size: 21px;
        margin-bottom: 24px;
    }
    .contacts__form-btn {
        font-size: 20px;
        line-height: 17px;
    }
    .footer__inner {
        margin: 0px 18px
    }
    .footer__text {
        font-size: 65px;
        line-height: 80px;
    }
    .footer__contacts {
        background-size: contain;
        width: 330px;
        height: 500px;
    }
    .footer__contacts-title {
        font-size: 60px;
        line-height: 115px;
        margin-bottom: 12px;
        padding-top: 12px;
    }
    .footer__phone {
        font-size: 16px;
    }
    .footer__phone::before, .footer__email::before {
        width: 25px;
        height: 25px;
        top: -3px;
        background-size: contain;
    }
}
@media (max-width: 370px) {
    .header__title {
        font-size: 60px;
        line-height: 100px;
    }
    .header__title span {
        font-size: 18px;
        margin-right: 0;
    }
    .menu__list-item + .menu__list-item {
        margin-left: 18px;
    }
    .title {
        font-size: 50px;
    }
    .title span {
        font-size: 20px;
    }
    .fairy-tail__title span {
        margin-left: 90px;
    }
    .hotel__gallery img {
        width: 250px;
        margin-top: -15px;
    }
    .our-trip__title span {
        margin-left: 130px;
    }
    .our-trip__list {
        font-size: 18px;
    }
    .our-trip__btn {
        padding: 11px 30px;
    }
    .price__list-item {
        font-size: 15px;
        margin: 0 10px;
    }
    .price__on {
        width: 300px;
    }
    .contacts__date {
        font-size: 60px;
    }
    .contacts__date span {
        font-size: 16px;
        margin-top: -30px;
        margin-left: 120px;
    }
    .contacts__price {
        font-size: 60px;
    }
    .contacts__price span {
        font-size: 16px;
        margin-top: -30px;
        margin-left: 80px;
    }
    .contacts__form-title {
        font-size: 18px;
        margin-bottom: 24px;
    }
    .contacts__form-btn {
        font-size: 18px;
        line-height: 18px;
    }
    .footer__contacts-title {
        font-size: 47px;
        line-height: 115px;
        margin-bottom: -11px;
        padding-top: 0px;
    }
    .footer__phone,
    .footer__email {
        font-size: 15px;
        margin-bottom: 12px;
    }
    .footer__social {
        margin-top: 5px;
    }
}